{template "header.html"}
<!--product dingzhi-->
<section class="product-wrap">
  <div class="product-box w m-auto">
        {template "side.html"}
        <!--aside end-->
        <section class="product-content fr" style="width:890px;" >
           
              <div class="new-show-wrap">
                <div class="show-title">
                    {$title}
                </div>
                <div class="show-body">
                    {$content}
                </div>
            </div>
        </section>
        <div class="clear"></div>
  </div>
</section>
<!--product dingzhi end -->
{template "footer.html"}

