{template "header.html"}
<!--banner-->
<section class="from-wrap">
    <!--from box-->
   <div class="from-box">
       <div class="from-main m-auto">
           <form action="/index.php?c=form_1_1" method="post" name="myform" id="myform">
           <div class="from-bo">
               <dvi class="from-nav">
                    <a href="index.php?c=form_1_1" class="on">
                        在线订单
                    </a>
                    <a href="index.php?c=form_1_2">
                        产品定制 
                    </a>
                    <div class="clear"></div>
               </dvi>
               <div class="from-p">
                   请认真选择您所要咨询或购买的产品，以便我们更好的为您服务！（说明：带＊选项为必填项目）
               </div>
               <div class="from-lab-box">
                   <ul>
                       <li class="li1">
                           <span class="s1">
                               产品名称＊
                           </span>
                           <input type="text" required="required"  name="data[title]">
                       </li>
                       <li class="li2">
                           <span class="s1">
                               单位名称＊
                           </span>
                           <input type="text" required="required" name="data[danweimingcheng]">
                       </li>
                       <li class="li1" >
                           <span class="s1">
                               您的姓名＊
                           </span>
                           <input type="text" required="required" name="data[nindexingming]">
                       </li>
                       <li class="li2">
                           <span class="s1" >
                               联系电话＊
                           </span>
                           <input type="text" required="required" name="data[lianxidianhua]" >
                       </li>
                        <li class="li1">
                           <span class="s1">
                               传&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;真
                           </span>
                           <input type="text" name="data[chuanzhen]" >
                       </li>
                       <li class="li2">
                           <span class="s1">
                               电子邮件
                           </span>
                           <input type="text" name="data[dianziyoujian]" >
                       </li>
                       <li class="li1">
                           <span class="s1">
                               邮&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;编
                           </span>
                           <input type="text" name="data[youbian]" >
                       </li>
                       <li class="li2">
                           <span class="s1">
                               详细地址＊
                           </span>
                           <input type="text" required="required" name="data[xiangxidizhi]" >
                       </li>
                       <li class="li1">
                           <span class="s1" style="width:500px">
                               请将您订购产品详细情况填写在以下文字框中＊
                           </span>
                       </li>
                   </ul>
                   <div class="textarea-box">
                       <textarea  class="textarea" required="required" name="data[xiangqing]" ></textarea>
                    </div>
                    
               </div>
               
           </div>
           <div class="from-btn-wrap">
                        <input type="submit" class="submit-btn" value="确认提交">
                        <input type="reset" class="clear-btn" value="重新填写">
            </div>
            </form>
       </div>
   </div>
    <!--from box end -->
</section>
<!--banner end -->
{template "footer.html"}