{template "header.html"}
<!--banner-->
<section class="product-solist-banner">
    <section class="index-search-wrap">
        <div class="index-search m-auto">
            <form name="search" action="index.php" type="get">
                <input type="hidden" name="c" value="so"/>
                <input type="hidden" name="module" value="{$dirname}"/>
                <input type="text" class="search-key" id="keyword" name="keyword" value="{$keyword}"  placeholder="输入产品类型名称">
                <button type="submit" class="index-btn">
                    <i class="fa fa-search"></i>
                </button>
                
            </form>
        </div>
    </section>
    <!--search end-->
    <section class="so-list-wrap">
       <div class="so-list-box m9 m-auto">
           <div class="so-list-nav">
                {loop $module $dir $t}
                    
                        <a href="{if intval($t.search.sototal) > 0}{dir_so_url($params, 'module', $dir, $urlrule)} {/if}" {if $dir==$dirname}class="on"{/if}>{$t.name}（{intval($t.search.sototal)}）</a>
                   
                        
                {/loop}
   
           </div>
           
           <!--list-->
           <div class="so-list-main">
               <ul>
                   <!--<li>
                       <a href="">
                           产品名称产品名称产品名称产品名称
                           <span>详情</span>
                       </a>
                   </li>-->
                   {if $contentid}
                    {list action=module module=$dirname IN_id=$contentid}
                    <li>
                        <a href="{$t.url}">       
                            {dr_keyword_highlight($t.title, $keyword)}
                            <span>详情</span>
                        </a>
                    </li>
                    {/list}
                    {/if}
                    
               </ul>
           </div>
           <!--list end-->
           <div class="paging-wrap"> 
              <!--<a class="next-btn" href="" data-ci-pagination-page="2"></a>
              <span class="paging-num">1/6</span>-->
            
          </div>
       </div>
   </section>
   
</section>
<!--banner end -->
{template "footer.html"}

<!--<form name="search" action="index.php" type="get">
    <input type="hidden" name="c" value="so"/>
    <input type="hidden" name="module" value="{$module}"/>
    <div class="sr_frm">
        <div class="sr_frm_box">
            <div class="sr_frmipt"><input type="text" id="keyword" name="keyword" class="ipt"><input type="submit" class="ss_btn" value="搜 索"></div>
        </div>
    </div>
</form>
<script language="JavaScript">
    <!--
    $(document).ready(function(){
        $("#keyword").focus();
    });
</script>
    //-->
