<!doctype html>
<html class="no-js" lang="zh-CN" build="Julian">
<head>
    <title>{$meta_title}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="csrf-param" content="authenticity_token" />
    <meta name="csrf-token" content="" />
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, initial-scale=1.0">
    <meta property="og:title" content="{$meta_title}" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://nnn.li/" />
    <meta property="og:image" content="" />
    <meta property="og:description" content="{$meta_keywords}" />
    <meta property="og:site_name" content="{$meta_title}" />
    <meta name="renderer" content="webkit">
    <meta name="keywords" content="{$meta_keywords}" />
    <meta name="description" content="{$meta_description}" />
    <meta name="twitter:title" content="{$meta_title}" />
    <meta name="twitter:card" content="Julian" />
    <meta name="twitter:url" content="https://nnn.li/" />
    <meta name="twitter:image" content="" />
    <meta name="twitter:description" content="{$meta_description}" />
    <link rel="stylesheet" media="all" href="{HOME_THEME_PATH}build/css/application.css" />
    <link rel="stylesheet" media="print" href="{HOME_THEME_PATH}build/css/print.css" />
    <!--<link rel="stylesheet" media="all" href="//fast.fonts.net/cssapi/4946bd2e-8cbd-461c-8121-ca6696f6267d.css" />-->
    <link rel="canonical" href="https://nnn.li/" />
    <link rel="alternate" type="application/atom+xml" title="ATOM" href="https://nnn.li/feed" />
    <script src="{HOME_THEME_PATH}build/js/application.js"></script>
    <script>
        var siteUrl = '{SITE_URL}',
            md5 = '{md5(SYS_KEY)}';
     
    </script>
    <link rel="apple-touch-icon" type="image/png" href="{HOME_THEME_PATH}build/imgs/apple-touch-icon-72x72-1b4c2b319595c5eca0920f58b593228992a06dd1df8d4bb61ae70fb0b82e274b.png" sizes="72x72" />
    <link rel="apple-touch-icon" type="image/png" href="{HOME_THEME_PATH}build/imgs/apple-touch-icon-114x114-98e7618233154ca9312469713264e33078bbc686269017b337edc98a60521f7e.png" sizes="114x114" />
    <link rel="apple-touch-icon" type="image/png" href="{HOME_THEME_PATH}build/imgs/apple-touch-icon-144x144-0236f0315f872d6cc16cda122fcdd464aeb823a376e1919390b425c6c4f153c0.png" sizes="144x144" />
    <link rel="icon" type="image/png" href="{HOME_THEME_PATH}build/imgs/apple-touch-icon-b06a2da26ff9f31c003469ba0063a247f90385a960064b3440dc4f69451b3b18.png" sizes="192x192" />
</head>
<body>